@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.post {
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
  text-align: left;
  border-bottom: 3px solid black;
}

.title {
  padding: 0;
  font-family: 'Brygada 1918', serif;
}

.text {
  font-family: 'Noto Sans', sans-serif;
  padding-bottom: 0px;
  font-size: 15px;
  border-bottom: 2px solid green;
  padding-left: 0;
  padding-bottom: 2%;
}

a {
  text-decoration: none;
  text-align: end;
  font-size: 0.8em;
  color: rgb(68, 60, 60);
  align-items: center;
}

svg {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.commentTitle {
  padding: 0;
  margin: 0;
  font-size: '13px';
  font-family: 'Brygada 1918', serif;
}
